@model Event
<!-- Container (Events Section) -->
<div class="w3-content w3-container w3-padding-64" id="Events">
    <h3 class="w3-center">Sign Up For Events</h3>
    <div class="w3-row w3-padding-32 w3-section">
        <div class="w3-col m6 w3-container">
            <img alt=@Model.Image.AltText src="~/Images/@Model.Image.FileName" class="img-responsive" />
        </div>

        <div class="w3-col m6 w3-panel">
            <h4>@Model.Description</h4>
            @if (User.Identity.IsAuthenticated)
            {
              

                    <a asp-controller="EventController" asp-action="SignUp" class="btn-success">
                        Sign Up
                    </a>
              
            }

            else
            {
                <a asp-controller="Account" asp-action="Signup" class="center-button btn-success">Register to Sign Up</a>

            }
        </div>
    </div>
</div>