<!DOCTYPE html>
<html ng-app="CISS411-App">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/scripts/navigation.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/25-animate.min.css">
    <link rel="stylesheet" href="~/css/style.css" />
    <title>@ViewBag.Title</title>
</head>

<body ng-controller="LoginController as loginCtrl">
    <header>
        <!-- Navbar (sit on top) -->
        <div class="w3-top">
            <div class="w3-bar" id="myNavbar">
                <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
                    <i class="fa fa-bars"></i>
                </a>
                <a href="/Home/Index/#home" class="w3-bar-item w3-button">HOME</a>
                <a href="/Home/Index/#aboutUs" class="w3-bar-item w3-button w3-hide-small">ABOUT US</a>
                <a href="/Home/Index/#Books" class="w3-bar-item w3-button w3-hide-small">BOOKS</a>
                <a href="/Home/Index/#Events" class="w3-bar-item w3-button w3-hide-small">EVENTS</a>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="#Log_In" onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="w3-bar-item w3-button w3-hide-small">LOGIN</a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Logout" class="w3-bar-item w3-button w3-hide-small">LOGOUT</a>
                    <a asp-controller="Account" asp-action="Landing" class="w3-bar-item w3-button w3-hide-small">ACCOUNT</a>

                }


                @Html.Partial("_Login", new LoginViewModel())

            </div>

            <!-- Navbar on small screens -->
            <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
                <a href="#aboutUs" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT US</a>
                <a href="#Books" class="w3-bar-item w3-button" onclick="toggleFunction()">BOOKS</a>
                <a href="#Events" class="w3-bar-item w3-button" onclick="toggleFunction()">EVENTS</a>
                <a href="#Log_In" class="w3-bar-item w3-button" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">LOGIN</a>
            </div>
        </div>

        <!-- First Parallax Image with Logo Text -->
        <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
            <div class="w3-display-middle" style="white-space:nowrap;">
                <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity wow bounceInDown">Club LOGO</span>
            </div>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer class="w3-center w3-black w3-padding-64 w3-opacity">
        <a href="#home" class="w3-button w3-light-grey" style="font-weight: bold;"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
        <br />
        <br />
        <div class="w3-large w3-margin-bottom">
            <i class="fa fa-map-marker fa-fw w3-xlarge w3-margin-right"></i> Main campus: 1001 Rogers Street <br /> Columbia, MO 65216<br><br>
            <i class="fa fa-phone fa-fw w3-xlarge w3-margin-right"></i> (573) 875-8700 or (800) 231-2391<br><br>
            <i class="fa fa-envelope fa-fw w3-xlarge w3-margin-right"></i> Email: mail@mail.com<br>
        </div>
    </footer>

    @RenderSection("Scripts", false)

    <script src="~/scripts/angularScripts/ciss411-app.js"></script>
    <script src="~/scripts/angularScripts/validation-service.js"></script>
    <script src="~/scripts/angularScripts/login-controller.js"></script>
    <!-- Misc. scripts-->
    <script src="http://insitestore2.mbsbooks.com/bloomusandbox/StoreFiles/25-SchoolFiles/25-New-Website/25-js/25-wow.min.js"></script>
    <script>
            var wow = new WOW({
                boxClass: 'wow', // default
                animateClass: 'animated', // default
                offset: 0, // default
                mobile: false, // default
                live: true // default
            });
        wow.init();
    </script>
    <!-- End Misc. Scripts-->

</body>
</html>
