@model LoginViewModel


@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


<div id="id01" class="modal">
    <form class="modal-content animate" method="post" novalidate asp-controller="Account" asp-action="Login">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>

        <div class="container">
            <label><b>Email</b></label>
            <input asp-for="Email" placeholder="Enter Email" required />

            <label><b>Password</b></label>
            <input type="password" asp-for="Password" placeholder="Enter Password" required />

            <button type="submit" id="Button">Login</button>
            <span asp-validation-for="Email"></span>
            <span asp-validation-for="Password"></span>
        </div>
        <p style="text-align: center;">Don't have an account? <a href="#">Sign Up</a></p>
    </form>
</div>

@if (bool.Parse(TempData["ShowLogin"]?.ToString() ?? "false"))
{
    <script>
        document.getElementById('id01').style.display = 'block';
    </script>
}

