@model Book

<form asp-controller="Admin" asp-action="EditBook" method="post">
    <h3>Add Image</h3>
    <input type="file"/>
    <label>Alt Text</label>
    <input type="text"/>
    <label>Description</label>
    <input type="text" />
</form>
